/* UTILITY classes */
.main-color-bg {
    background-color: var(--main-color);
}
.secondary-color-bg {
    background-color: var(--secondary-color);
}
.light-main-color-bg {
    background-color: var(--light-main-color);
}


.section-title {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 60px;
    position: relative;
}
    .section-title::before {
        display: inline-block;
        content: '';
        width: 100px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--secondary-color);
    }
    .section-title::after {
        display: inline-block;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        bottom: -4px;
        left: 0;
        background-color: var(--secondary-color);
    }
    .section-title.title-center {
        color: #fff;
        text-align: center;
    }
        .section-title.title-center::before {
            background-color: #fff;
            left: calc((100% - 100px) / 2);
        }
        .section-title.title-center::after {
            left: calc((100% - 10px) / 2);
            background-color: #fff;
        }
    .section-title.title-no-line::before,
    .section-title.title-no-line::after {
        display: none;
    }


/* START: header */

/* END: header */



/* START: hero */

/* END: hero */



/* START: clients logo list */

/* END: clients logo list */



/* START: about me */

/* END: about me */



/* START: achievements */

/* END: achievements */



/* START: skills */

/* END: skills */



/* START: latest works */

/* END: latest works */



/* START: job history */

/* END: job history */



/* START: service offers */

/* END: service offers */



/* START: testimonials */

/* END: testimonials */



/* START: contact me */

/* END: contact me */



/* START: footer */

/* END: footer */